@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
	color: darkblue;
	text-align: center;
	list-style: inside
}

h1 {
	font-family: 'Roboto', sans-serif;
	color: darkred;
	font-size: 40px;
}
h2 {
	color: darkred;
	font-size: 20px;
	background: lightblue;
	font-weight: lighter;
	text-decoration: none;
	transition: color 0.3 ease;

}
a {
	text-decoration: none;
	color: darkred;
}
a:hover{
	color: steelblue;
}
h2 {
	background: lightgrey;
	border: 3px solid darkred;
	font-size: 25px;
	margin: 10px;
}
.image-circle {
	margin-top: 40px;
	margin-bottom: 40px;
	border-radius: 30px;
	margin-left: auto;
	margin-right: auto;
}	
#images-list {
	list-style: none;
	padding: 0;
}
#images-list li {
	display: inline;
}
i {
	color: darkblue;
}
li a {
	color: darkblue;
	text-decoration: none;
}
p 